In [2]:
import pandas as pd 
import yaml
import os

In [17]:
# The path to your YAML configuration file
yaml_file_path = r"C:\Users\toloz\Ironhack\Week 8 and Week 9\Project\Project_Folder\Final_Project\config.yaml"

# Load the YAML configuration file
with open(yaml_file_path, 'r') as file:
    config = yaml.safe_load(file)

# Extract the file path for the raw data
# Note the new dictionary key 'Raw_Data'
input_file_path = config['Raw_Data']['file']

# Read the CSV file into a pandas DataFrame using the path from the YAML file
# The encoding parameter is added to handle potential UnicodeDecodeErrors,
# as seen in your previous attempts. 'latin1' is a common encoding for this type of error.
df = pd.read_csv(input_file_path , encoding='windows-1252')

In [4]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
df.shape

(9994, 21)

In [6]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [18]:
df.rename(columns = {"Row ID": "Row_ID", "Order ID": "Order_ID",
                     "Order Date": "Order_Date",
                    "Ship Date": "Ship_Date",
                    "Ship Mode": "Ship_Mode",
                     "Customer ID": "Customer_ID",
                    "Customer Name": "Customer_Name",
                    "Postal Code": "Postal_Code",
                    "Product ID": "Product_ID",
                    "Product Name": "Product_Name",
                    "Sub-Category": "Sub_Category"}, inplace = True)

In [8]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [9]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [10]:
df.head()

,Row_ID,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,...,Postal_Code,Region,Product_ID,Category,Sub_Category,Product_Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [11]:
df.duplicated().any().sum()

np.int64(0)

In [12]:
df.isnull().any().sum()

np.int64(0)

In [13]:
df["Ship_Mode"].unique()

array(['Second Class', 'Standard Class', 'First Class', 'Same Day'],
      dtype=object)

In [14]:
df["Segment"].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [15]:
df["Category"].unique()

array(['Furniture', 'Office Supplies', 'Technology'], dtype=object)

In [16]:
df["Sub_Category"].unique()

array(['Bookcases', 'Chairs', 'Labels', 'Tables', 'Storage',
       'Furnishings', 'Art', 'Phones', 'Binders', 'Appliances', 'Paper',
       'Accessories', 'Envelopes', 'Fasteners', 'Supplies', 'Machines',
       'Copiers'], dtype=object)

In [17]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [17]:
# Create Customers table
df_customers = df[["Customer_ID", "Segment", "Customer_Name"]].drop_duplicates(subset="Customer_ID").reset_index(drop=True)

In [18]:
# Create junction Table
df_Products_Orders = df[["Row_ID","Product_ID","Order_ID"]]

In [19]:
# Create Category Table
df_category = df[["Category", "Sub_Category"]].drop_duplicates().reset_index(drop=True)

In [ ]:
# Create Products Table
df_Product = df[["Product_ID","Product_Name"]].drop_duplicates(subset = "Product_ID").reset_index(drop = True)

In [ ]:
# Create the Country Table
df_country = df[["Country"]].drop_duplicates().reset_index(drop=True)

In [ ]:
# Create the Region Table 
df_region = df[["Region"]].drop_duplicates().reset_index(drop=True)

In [ ]:
# Create the State Table
df_state = df[["State"]].drop_duplicates().reset_index(drop=True)

In [ ]:
# Create the City Table
df_city = df[["City"]].drop_duplicates().reset_index(drop=True)

In [ ]:
# Create the Postal_Code Table
df_postal_code = df[["Postal_Code"]].drop_duplicates().reset_index(drop=True)

In [ ]:
#  Define the output directory based on your YAML file path
output_dir = os.path.join("..", "Data", "Clean")
os.makedirs(output_dir, exist_ok=True)

In [ ]:
df_postal_code = df_postal_code.reset_index().rename(columns={"index":"postal_code_id"})
df_postal_code["postal_code_id"] = df_postal_code["postal_code_id"] + 1
df_postal_code.head()

In [ ]:
df_city = df_city.reset_index().rename(columns={"index":"city_id"})
df_city["city_id"] = df_city["city_id"] + 1
df_city.head()

In [39]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [56]:
# CUSTOMERS(Customer_ID PK, Customer_Name, Segment, Country, City, State, Postal_Code, Region)
output_dir = os.path.join("..", "Data", "Clean")
os.makedirs(output_dir, exist_ok=True)
df_customers_v2 = df[['Customer_ID','Customer_Name','Segment','Country','City','State','Postal_Code','Region']]
df_customers_v2.to_csv(os.path.join(output_dir, "Customers.csv"), index=False)

In [71]:
# Creating a table for produc_subcategory
sub_category_df = pd.DataFrame({"sub_category_id":[ i+1 for i in range(df["Sub_Category"].nunique())],
"Sub_Category": df["Sub_Category"].unique()})

sub_category_df.to_csv(os.path.join(output_dir,"SubCategories.csv"), index=False, sep=";", encoding="utf-8")

In [85]:
category_df = pd.DataFrame({"category_id": [i+1 for i in range(df["Category"].nunique())],
"Category": df["Category"].unique()})
category_df

   category_id         Category
0            1        Furniture
1            2  Office Supplies
2            3       Technology

In [84]:
category_sub_df = df[["Category", "Sub_Category"]].merge(sub_category_df, on="Sub_Category",how="inner").drop_duplicates().reset_index()
category_sub_df.rename(columns={"index": "id"}, inplace=True)
category_sub_df['id'] = category_sub_df['id']+1
category_sub_df

     id         Category Sub_Category  sub_category_id
0     1        Furniture    Bookcases                1
1     2        Furniture       Chairs                2
2     3  Office Supplies       Labels                3
3     4        Furniture       Tables                4
4     5  Office Supplies      Storage                5
5     6        Furniture  Furnishings                6
6     7  Office Supplies          Art                7
7     8       Technology       Phones                8
8     9  Office Supplies      Binders                9
9    10  Office Supplies   Appliances               10
10   13  Office Supplies        Paper               11
11   27       Technology  Accessories               12
12   31  Office Supplies    Envelopes               13
13   54  Office Supplies    Fasteners               14
14  139  Office Supplies     Supplies               15
15  166       Technology     Machines               16
16  336       Technology      Copiers               17

In [87]:
category_table_df = category_sub_df.merge(category_df, on="Category", how="inner")

     id         Category Sub_Category  sub_category_id  category_id
0     1        Furniture    Bookcases                1            1
1     2        Furniture       Chairs                2            1
2     3  Office Supplies       Labels                3            2
3     4        Furniture       Tables                4            1
4     5  Office Supplies      Storage                5            2
5     6        Furniture  Furnishings                6            1
6     7  Office Supplies          Art                7            2
7     8       Technology       Phones                8            3
8     9  Office Supplies      Binders                9            2
9    10  Office Supplies   Appliances               10            2
10   13  Office Supplies        Paper               11            2
11   27       Technology  Accessories               12            3
12   31  Office Supplies    Envelopes               13            2
13   54  Office Supplies    Fasteners               14            2
14  139  Office Supplies     Supplies               15            2
15  166       Technology     Machines               16            3
16  336       Technology      Copiers               17            3

In [92]:
products_df = pd.DataFrame({"product_id": df['Product_ID'].values,
"product_name": df['Product_Name'].values,"Category": df["Category"].values})
products_df

,product_id,product_name,Category
0,FUR-BO-10001798,Bush Somerset Collection Bookcase,Furniture
1,FUR-CH-10000454,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Furniture
2,OFF-LA-10000240,Self-Adhesive Address Labels for Typewriters b...,Office Supplies
3,FUR-TA-10000577,Bretford CR4500 Series Slim Rectangular Table,Furniture
4,OFF-ST-10000760,Eldon Fold 'N Roll Cart System,Office Supplies
...,...,...,...
9989,FUR-FU-10001889,Ultra Door Pull Handle,Furniture
9990,FUR-FU-10000747,Tenex B1-RE Series Chair Mats for Low Pile Car...,Furniture
9991,TEC-PH-10003645,Aastra 57i VoIP phone,Technology
9992,OFF-PA-10004041,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",Office Supplies
9993,OFF-AP-10002684,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",Office Supplies

In [65]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [21]:

# Ensure date columns are in datetime format
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'])

# --- Step 1: Create Dimension Tables ---

# 1. Sub_Category
sub_category_df = df[['Sub_Category']].drop_duplicates().reset_index(drop=True)
sub_category_df['sub_category_id'] = sub_category_df.index + 1
sub_category_df = sub_category_df.rename(columns={'Sub_Category': 'sub_category'})

# 2. Category
category_df_temp = df[['Category', 'Sub_Category']].drop_duplicates().reset_index(drop=True)
category_df_temp = pd.merge(category_df_temp, sub_category_df, left_on='Sub_Category', right_on='sub_category', how='left')
category_df = category_df_temp.rename(columns={'Category': 'category'})
category_df['category_id'] = category_df.index + 1
category_df = category_df[['category_id', 'category', 'sub_category_id']]

# 3. Product (and a new junction table for many-to-many relationship)
product_df = df[['Product_ID', 'Product_Name']].drop_duplicates().reset_index(drop=True)
product_df = product_df.rename(columns={'Product_ID': 'product_id', 'Product_Name': 'product_name'})
# Create the junction table to handle product-category many-to-many relationship
product_to_category_df = df[['Product_ID', 'Category']].drop_duplicates().reset_index(drop=True)
product_to_category_df = pd.merge(product_to_category_df, category_df[['category', 'category_id']], left_on='Category', right_on='category', how='left')
product_to_category_df = product_to_category_df[['Product_ID', 'category_id']]
product_to_category_df = product_to_category_df.rename(columns={'Product_ID': 'product_id'})

# 4. Segment
segment_df = df[['Segment']].drop_duplicates().reset_index(drop=True)
segment_df = segment_df.rename(columns={'Segment': 'segment'})
segment_df['segment_id'] = segment_df.index + 1

# 5. Region
region_df = df[['Region']].drop_duplicates().reset_index(drop=True)
region_df = region_df.rename(columns={'Region': 'region'})
region_df['region_id'] = region_df.index + 1

# 6. State
state_df = df[['State', 'Region']].drop_duplicates().reset_index(drop=True)
state_df = pd.merge(state_df, region_df, left_on='Region', right_on='region', how='left')
state_df = state_df.rename(columns={'State': 'state'})
state_df['state_id'] = state_df.index + 1
state_df = state_df[['state_id', 'state', 'region_id']]

# 7. City
city_df = df[['City', 'State']].drop_duplicates().reset_index(drop=True)
city_df = pd.merge(city_df, state_df[['state', 'state_id']], left_on='State', right_on='state', how='left')
city_df = city_df.rename(columns={'City': 'city'})
city_df['city_id'] = city_df.index + 1
city_df = city_df[['city_id', 'city', 'state_id']]

# 8. Postal_Code
postal_code_df = df[['Postal_Code', 'City']].drop_duplicates().reset_index(drop=True)
postal_code_df = pd.merge(postal_code_df, city_df[['city', 'city_id']], left_on='City', right_on='city', how='left')
postal_code_df = postal_code_df.rename(columns={'Postal_Code': 'postal_code'})
postal_code_df['postal_code_id'] = postal_code_df.index + 1
postal_code_df = postal_code_df[['postal_code_id', 'postal_code', 'city_id']]

# 9. Country
country_df = df[['Country', 'Region']].drop_duplicates().reset_index(drop=True)
country_df = pd.merge(country_df, region_df[['region', 'region_id']], left_on='Region', right_on='region', how='left')
country_df = country_df.rename(columns={'Country': 'country'})
country_df['country_id'] = country_df.index + 1
country_df = country_df[['country_id', 'country', 'region_id']]

# 10. Customer
customer_df = df[['Customer_ID', 'Customer_Name', 'Segment', 'Country']].drop_duplicates(subset=['Customer_ID']).reset_index(drop=True)
customer_df = pd.merge(customer_df, segment_df, left_on='Segment', right_on='segment', how='left')
customer_df = pd.merge(customer_df, country_df[['country', 'country_id']], left_on='Country', right_on='country', how='left')
customer_df = customer_df[['Customer_ID', 'Customer_Name', 'segment_id', 'country_id']]
customer_df = customer_df.rename(columns={'Customer_ID': 'customer_id', 'Customer_Name': 'customer_name'})

# --- Step 2: Create Fact and Junction Tables ---

# 11. Orders Fact Table
orders_df = df[['Order_ID', 'Sales', 'Quantity', 'Discount', 'Profit', 'Customer_ID', 'Order_Date', 'Ship_Mode', 'Ship_Date']].drop_duplicates(subset=['Order_ID']).reset_index(drop=True)
orders_df = orders_df.rename(columns={'Order_ID': 'order_id', 'Customer_ID': 'customer_id', 'Order_Date': 'order_date', 'Ship_Date': 'ship_date'})

# 12. Products_to_orders Junction Table
products_to_orders_df = df[['Order_ID', 'Product_ID']].drop_duplicates().reset_index(drop=True)
products_to_orders_df = products_to_orders_df.rename(columns={'Order_ID': 'order_id', 'Product_ID': 'product_id'})

# --- Step 3: Export all DataFrames to CSVs ---
output_dir = os.path.join("..", "Data", "Clean")
os.makedirs(output_dir, exist_ok=True)

# Exporting the DataFrames
orders_df.to_csv(os.path.join(output_dir, 'orders.csv'), index=False)
customer_df.to_csv(os.path.join(output_dir, 'customer.csv'), index=False)
product_df.to_csv(os.path.join(output_dir, 'product.csv'), index=False)
country_df.to_csv(os.path.join(output_dir, 'country.csv'), index=False)
category_df.to_csv(os.path.join(output_dir, 'category.csv'), index=False)
region_df.to_csv(os.path.join(output_dir, 'region.csv'), index=False)
state_df.to_csv(os.path.join(output_dir, 'state.csv'), index=False)
city_df.to_csv(os.path.join(output_dir, 'city.csv'), index=False)
postal_code_df.to_csv(os.path.join(output_dir, 'postal_code.csv'), index=False)
sub_category_df.to_csv(os.path.join(output_dir, 'sub_category.csv'), index=False)
segment_df.to_csv(os.path.join(output_dir, 'segment.csv'), index=False)
products_to_orders_df.to_csv(os.path.join(output_dir, 'Products_to_orders.csv'), index=False)
product_to_category_df.to_csv(os.path.join(output_dir, 'product_to_category.csv'), index=False)

print(f"All DataFrames exported to CSVs in '{output_dir}'")

All DataFrames exported to CSVs in '..\Data\Clean'

In [19]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [27]:

# Ensure date columns are in datetime format
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df['Ship_Date'] = pd.to_datetime(df['Ship_Date'])

# --- Step 1: Create Dimension Tables ---

# 1. Location Dimension Table
location_df = df[['Postal_Code', 'City', 'State', 'Country', 'Region']].drop_duplicates().reset_index(drop=True)
location_df = location_df.rename(columns={'Postal_Code': 'postal_code', 'City': 'city', 'State': 'state', 'Country': 'country', 'Region': 'region'})
location_df['location_id'] = location_df.index + 1

# 2. Sub_Category
sub_category_df = df[['Sub_Category']].drop_duplicates().reset_index(drop=True)
sub_category_df = sub_category_df.rename(columns={'Sub_Category': 'sub_category'})
sub_category_df['sub_category_id'] = sub_category_df.index + 1

# 3. Category
category_df_temp = df[['Category', 'Sub_Category']].drop_duplicates().reset_index(drop=True)
category_df = pd.merge(category_df_temp, sub_category_df, left_on='Sub_Category', right_on='sub_category', how='left')
category_df = category_df.rename(columns={'Category': 'category'})
category_df['category_id'] = category_df.index + 1
category_df = category_df[['category_id', 'category', 'sub_category_id']]

# 4. Product
product_df = df[['Product_ID', 'Product_Name']].drop_duplicates(subset=['Product_ID']).reset_index(drop=True)
product_df = product_df.rename(columns={'Product_ID': 'product_id', 'Product_Name': 'product_name'})

# 5. Junction table for Product to Category
product_to_category_df = df[['Product_ID', 'Category']].drop_duplicates().reset_index(drop=True)
product_to_category_df = pd.merge(product_to_category_df, category_df[['category', 'category_id']], left_on='Category', right_on='category', how='left')
product_to_category_df = product_to_category_df[['Product_ID', 'category_id']]
product_to_category_df = product_to_category_df.rename(columns={'Product_ID': 'product_id'})

# 6. Segment
segment_df = df[['Segment']].drop_duplicates().reset_index(drop=True)
segment_df = segment_df.rename(columns={'Segment': 'segment'})
segment_df['segment_id'] = segment_df.index + 1

# 7. Customer
customer_df = df[['Customer_ID', 'Customer_Name', 'Segment']].drop_duplicates(subset=['Customer_ID']).reset_index(drop=True)
customer_df = pd.merge(customer_df, segment_df, left_on='Segment', right_on='segment', how='left')
customer_df = customer_df[['Customer_ID', 'Customer_Name', 'segment_id']]
customer_df = customer_df.rename(columns={'Customer_ID': 'customer_id', 'Customer_Name': 'customer_name'})

# --- Step 2: Create Fact Table ---

# 8. Orders Fact Table
orders_df = df[['Order_ID', 'Sales', 'Quantity', 'Discount', 'Profit', 'Customer_ID', 'Order_Date', 'Ship_Mode', 'Ship_Date', 'Postal_Code', 'City', 'State', 'Country', 'Region']].drop_duplicates(subset=['Order_ID']).reset_index(drop=True)

# Rename columns to snake_case before merging
orders_df = orders_df.rename(columns={
    'Order_ID': 'order_id',
    'Sales': 'sales',
    'Quantity': 'quantity',
    'Discount': 'discount',
    'Profit': 'profit',
    'Customer_ID': 'customer_id',
    'Order_Date': 'order_date',
    'Ship_Mode': 'ship_mode',
    'Ship_Date': 'ship_date',
    'Postal_Code': 'postal_code',
    'City': 'city',
    'State': 'state',
    'Country': 'country',
    'Region': 'region'
})

# Merge with location_df to add the location_id
orders_df = pd.merge(orders_df, location_df, on=['postal_code', 'city', 'state', 'country', 'region'], how='left')

# Select the final columns
orders_df = orders_df[['order_id', 'sales', 'quantity', 'discount', 'profit', 'customer_id', 'order_date', 'ship_mode', 'ship_date', 'location_id']]

# 9. Products_to_orders Junction Table
products_to_orders_df = df[['Order_ID', 'Product_ID']].drop_duplicates().reset_index(drop=True)
products_to_orders_df = products_to_orders_df.rename(columns={'Order_ID': 'order_id', 'Product_ID': 'product_id'})

# --- Step 3: Export all DataFrames to CSVs ---
output_dir = os.path.join("..", "Data", "Clean")
os.makedirs(output_dir, exist_ok=True)

orders_df.to_csv(os.path.join(output_dir, 'orders.csv'), index=False)
customer_df.to_csv(os.path.join(output_dir, 'customer.csv'), index=False)
product_df.to_csv(os.path.join(output_dir, 'product.csv'), index=False)
location_df.to_csv(os.path.join(output_dir, 'location.csv'), index=False)
category_df.to_csv(os.path.join(output_dir, 'category.csv'), index=False)
sub_category_df.to_csv(os.path.join(output_dir, 'sub_category.csv'), index=False)
segment_df.to_csv(os.path.join(output_dir, 'segment.csv'), index=False)
products_to_orders_df.to_csv(os.path.join(output_dir, 'products_to_orders.csv'), index=False)
product_to_category_df.to_csv(os.path.join(output_dir, 'product_to_category.csv'), index=False)

print(f"All DataFrames exported to CSVs in '{output_dir}'")

All DataFrames exported to CSVs in '..\Data\Clean'

In [24]:
df.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'Sub_Category',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')